<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="__PUBLIC__/css/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/main.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/top.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/xenon/assets/css/bootstrap.css">

    <title></title>
  </head>
  <body>
    <div class="col-lg-10" style="margin: auto;position:absolute; top:0; left:0; bottom:0; right:0;">
    <div id="top">
      <div id="header-div">
        <div id="logo-div" style="bgcolor:#000000;"><img src="__PUBLIC__/images/logo.gif" width="80" height="50" /></div>
        <div id="license-div" style="bgcolor:#000000;"></div>
        <div id="submenu-div">
          <ul>
            <li><a href="index.php?act=about_us" target="main-frame">关于 yy小站</a></li>
            <li><a href="javascript:web_address();">帮助</a></li>
            <li><a href="#" target="_blank">发布博文</a></li>
            <li><a href="message.php?act=list" target="main-frame">管理员留言</a></li>
            <li><a href="privilege.php?act=modif" target="main-frame">个人设置</a></li>
            <li><a href="javascript:document.location.reload()">刷新</a></li>
            <li><a href="#"  onclick="ShowToDoList()">上传照片</a></li>
          </ul>
          <div id="send_info" style="padding: 5px 10px 0 0; clear:right;text-align: right; color: #FF9900;width:40%;float: right;">
                  <a href="#" target="main-frame" class="fix-submenu">清除缓存</a>
            <a href="#" target="_top" class="fix-submenu">退出</a>
          </div>
              <div id="load-div" style="padding: 5px 10px 0 0; text-align: right; color: #FF9900; display: none;width:40%;float:right;"><img src="__PUBLIC__/images/top_loader.gif" width="16" height="16" alt="正在处理您的请求..." style="vertical-align: middle" /> 正在处理您的请求...</div>
        </div>
      </div>
      <div id="menu-div">
        <ul>
          <li class="fix-spacel">&nbsp;</li>
          <li><a href="index.php?act=main" target="main-frame">起始页</a></li>
          <li><a href="privilege.php?act=modif" target="main-frame">设置导航栏</a></li>
              <li><a href="goods.php?act=list" target="main-frame">商品列表</a></li>
              <li><a href="order.php?act=list" target="main-frame">订单列表</a></li>
              <li><a href="comment_manage.php?act=list" target="main-frame">用户评论</a></li>
              <li><a href="users.php?act=list" target="main-frame">会员列表</a></li>
              <li><a href="shop_config.php?act=list_edit" target="main-frame">商店设置</a></li>
              <li class="fix-spacer">&nbsp;</li>
        </ul>
        <br class="clear" />
      </div>
    </div>
    <div id="menu">
      <div id="tabbar-div">
        <p><span style="float:right; padding: 3px 5px;" ><a href="javascript:toggleCollapse();"><img id="toggleImg" src="__PUBLIC__/images/menu_minus.gif" width="9" height="9" border="0" alt="闭合" /></a></span>
          <span class="tab-front" id="menu-tab">菜单</span>
        </p>
        </div>
        <div id="main-div">
        <div id="menu-list">
        <ul id="menu-ul">
          <li class="explode" key="02_cat_and_goods" name="menu">
            博客管理        <ul>
                  <li class="menu-item"><a href="goods.php?act=list" target="main-frame">文章列表</a></li>
                  <li class="menu-item"><a href="goods.php?act=add" target="main-frame">发布文章</a></li>
                  <li class="menu-item"><a href="index.php?p=back&c=Category&a=list" target="main-frame">文章分类</a></li>
                  <li class="menu-item"><a href="comment_manage.php?act=list" target="main-frame">用户评论</a></li>
                </ul>
              </li>
          <li class="explode" key="03_promotion" name="menu">
            图片专区        <ul>
                  <li class="menu-item"><a href="snatch.php?act=list" target="main-frame">图片列表</a></li>
                  <li class="menu-item"><a href="bonus.php?act=list" target="main-frame">上传图片</a></li>
                </ul>
              </li>
          <li class="explode" key="10_priv_admin" name="menu">
            权限管理        <ul>
                  <li class="menu-item"><a href="privilege.php?act=list" target="main-frame">管理员列表</a></li>
                  <li class="menu-item"><a href="admin_logs.php?act=list" target="main-frame">管理员日志</a></li>
                  <li class="menu-item"><a href="role.php?act=list" target="main-frame">角色管理</a></li>
                  <li class="menu-item"><a href="agency.php?act=list" target="main-frame">办事处列表</a></li>
                  <li class="menu-item"><a href="suppliers.php?act=list" target="main-frame">供货商列表</a></li>
                </ul>
              </li>
          <li class="explode" key="11_system" name="menu">
            系统设置        <ul>
                  <li class="menu-item"><a href="shop_config.php?act=list_edit" target="main-frame">商店设置</a></li>
                  <li class="menu-item"><a href="reg_fields.php?act=list" target="main-frame">会员注册项设置</a></li>
                  <li class="menu-item"><a href="payment.php?act=list" target="main-frame">支付方式</a></li>
                  <li class="menu-item"><a href="shipping.php?act=list" target="main-frame">配送方式</a></li>
                  <li class="menu-item"><a href="shop_config.php?act=mail_settings" target="main-frame">邮件服务器设置</a></li>
                  <li class="menu-item"><a href="area_manage.php?act=list" target="main-frame">地区列表</a></li>
                  <li class="menu-item"><a href="cron.php?act=list" target="main-frame">计划任务</a></li>
                  <li class="menu-item"><a href="friend_link.php?act=list" target="main-frame">友情链接</a></li>
                  <li class="menu-item"><a href="captcha_manage.php?act=main" target="main-frame">验证码管理</a></li>
                  <li class="menu-item"><a href="check_file_priv.php?act=check" target="main-frame">文件权限检测</a></li>
                  <li class="menu-item"><a href="filecheck.php" target="main-frame">文件校验</a></li>
                  <li class="menu-item"><a href="flashplay.php?act=list" target="main-frame">首页主广告管理</a></li>
                  <li class="menu-item"><a href="navigator.php?act=list" target="main-frame">自定义导航栏</a></li>
                  <li class="menu-item"><a href="license.php?act=list_edit" target="main-frame">授权证书</a></li>
                  <li class="menu-item"><a href="sitemap.php" target="main-frame">站点地图</a></li>
                </ul>
              </li>
          <li class="explode" key="15_rec" name="menu">
            推荐管理        <ul>
                  <li class="menu-item"><a href="affiliate.php?act=list" target="main-frame">推荐设置</a></li>
                  <li class="menu-item"><a href="affiliate_ck.php?act=list" target="main-frame">分成管理</a></li>
                </ul>
              </li>
          <li class="explode" key="16_email_manage" name="menu">
            邮件群发管理        <ul>
                  <li class="menu-item"><a href="attention_list.php?act=list" target="main-frame">关注管理</a></li>
                  <li class="menu-item"><a href="email_list.php?act=list" target="main-frame">邮件订阅管理</a></li>
                  <li class="menu-item"><a href="magazine_list.php?act=list" target="main-frame">杂志管理</a></li>
                  <li class="menu-item"><a href="view_sendlist.php?act=list" target="main-frame">邮件队列管理</a></li>
                </ul>
              </li>
        </ul>
        </div>
        <div id="help-div" style="display:none">
        <h1 id="help-title"></h1>
        <div id="help-content"></div>
        </div>
        </div>
    </div>

    <div id="main">
      <block name="mainContent"></block>
    </div>


    <!-- <script src="__PUBLIC__/xenon/assets/js/bootstrap.min.js"></script> -->
  </body>
</html>
